body {
  font-family: $ptsans;
  font-size: 16px;
}
h1.page-header {
  font-size: 25px;
  font-family: $lato;
  font-weight: 500;
}
h2 {
  font-family: lato;
  font-size: 24px;
}
h3 {
  font-family: lato;
  font-size: 20px;
}
#block-headercontact {
  p {
    font-size: 18px;
    line-height: 1.3;
  }
}
#block-milestone-main-menu {
  font-size: 18px;
  .dropdown-menu {
    font-size: 16px;
  }
}
.path-frontpage h1.page-header {
  font-size: 28px;
}
section.block-views-blockservices-homepage-block-nodes-block-2,
section.block-views-blockservices-homepage-block-nodes-block-3,
section.block-views-blockservices-homepage-block-nodes-block-4 {
  h3 {
    font-family: $lato;
    font-weight: 600;
  }
  .views-field-title {
    font-family: $lato;
    font-size: 18px;
    font-weight: 500;
    a {
      color: $dkgray;
      text-decoration: none;
    }
  }
}
