body {
  margin-top: 0;
}
.banner-header {
  width: 100%;
  .col-sm-12 {
    width: 1170px;
    margin: 0 auto;
    float: none;
    .logo {
      margin-left: 100px;
      width: 250px;
      display: block;
      img {
        max-width: 100%;
        display: block;
      }
    }
    .search-block-form {
      width: 177px;
      float: right;
      margin-right: 123px;
      margin-top: 15px;
      .form-group {
        margin-bottom: 5px;
      }
      input.form-control {
        height: 30px;
        border-radius: 0;
      }
      .btn {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 0;
        border-left: none;
      }
    }
    #block-headercontact {
      width: 177px;
      float: right;
      margin-right: 123px;
      clear: right;
    }
  }
}

#block-homeheaderimage {
  float: none;
  max-width: 100%;
  img {
    display: block;
    max-width: 100%;
  }
}
header.navbar.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 0;
  border: none;
  .navbar-header {
    width: 1170px;
    float: none;
    margin: 0 auto;
    .nav {
      & > li {
        & > a {
          padding: 15px 20px;
        }
      }
    }
  }
}
#block-milestone-main-menu {
  text-align: center;
  ul.navbar-nav {
    display: inline-block;
    float: none;
    & > li {
      display: inline-block;
      float: none;
    }
  }
}
.main-container {
  margin-top: 20px;
}
.region-content:after {
  @include clearme;
}
footer.footer {
  width: 100%;
  padding: 0;
  border-top: none;
  padding-bottom: 80px;
  .region-footer {
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    #block-milestone-footer {

      float: left;
    }
    ul.footer {
      border-top: none;
      margin: 0 0 65px;
      padding: 0;
      li {
        float: left;
        a {
          padding-top: 0;
          padding-bottom: 0;
        }
        &:first-child > a {
          padding-left: 0;
        }
      }
    }
    #block-footercontactinfo {
      float: right;
      width: 290px;
    }
    #block-footercopyright {
      clear: left;
      float: left;
    }
  }
}
.path-frontpage {
  .page-header {
    text-align: center;
  }
  article.page {
    text-align: center;
    max-width: 66%;
    margin: 0 auto;
  }
}
// home page services blocks
section.block-views-blockservices-homepage-block-nodes-block-2,
section.block-views-blockservices-homepage-block-nodes-block-3,
section.block-views-blockservices-homepage-block-nodes-block-4 {
  width: 33%;
  float: left;
  h3 {
    text-align: center;
    &:before {
      content: '\25A0';
      padding-right: 8px;
    }
  }
  .views-row {
    text-align: center;
    .views-field-title {
      margin: 15px 0;
    }
    .views-field-field-photos {
      img {
        margin: 0 auto;
      }
    }
    .views-field-body {
      margin: 8px 0;
      padding: 0 10px;
    }
  }
}
