// colors
$white: #ffffff;
$ltgray: #cccccc;
$gray: #252525;
$dkgray: #0a0a0a;
$copper: #a4492f;
$teal: #4faea8;

$crmcolor: #b97846;
$hiscolor: #ad8825;
$prescolor: #c9ae62;

// fonts
$lato: 'Lato', sans-serif;
$ptsans: 'PT Sans', sans-serif;
